<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="list">
				{{ partial "topcontent.html" . }}

				<h1>Entries tagged - "Blog"</h1>

				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				{{ if in .Params.tags "Blog" }}

					<!-- <h2 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h2> -->
					<h2 class="title">{{.Title}}</h2>
					<time>{{ dateFormat "Jan 2, 2006" .Date }}
						{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}
						{{ range .Params.tags }} <span class="tag-label">{{ . }}</span> {{ end }}
						<!-- {{ range .Params.tags }} <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }} -->
					</time>
					<br><div class="description">
						{{ if isset .Params "description" }}
						{{ .Description }}
						{{ else }}
						{{ .Summary }}&hellip;
						{{ end }}
					</div>

					{{ if not (in .Params.categories "Incomplete") }}
						<a class="readmore" href="{{ .RelPermalink }}">Read more ⟶</a>
					{{ end }}

					{{ if isset .Params "link" }}
					<br>
					<a class="readmore" href="{{ .Params.link }}">Visit project ⟶</a>
					{{ end }}
				
				{{ end }}
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
